* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lightPink: #E72ED0;
    --lightPurple: #721BBE;
    --darkPurple: #1C0132;
    --white: #ffffff;
    --black: #0000000;
    --color1: #CCE0FF;
    --color2: #ECFECC;
    --color3: #F6CDFD;
    --color4: #CDFDFE;
    --lighterPurple:#E7D2F9;
}

.body {
    background: #F8F0FD;
}

.navContainer {
    display: flex;
    background: var(--darkPurple);
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.right-top-nav {
    display: flex;
    align-items: center;
}

.create-shipment-btn {
    border: none;
    outline: none;
    padding: 8px;
    width: 9rem;
    background: var(--lightPurple);
    color: var(--white);
    border-radius: 5px;
}

.profileImg {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profileImg>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


select {
    border: none;
    outline: none;
    cursor: pointer;
}

.notification {
    position: relative;
    cursor: pointer;
}

.notification-dot {
    position: absolute;
    right: 1%;
    top: 5%;
    height: 0.6rem;
    width: 0.6rem;
    background: #ff0000;
    border-radius: 50%;
}


.sideBar {
    background: var(--darkPurple);
    width: 18rem;
    position: fixed;
    height: 100%;
    color: var(--white);
    overflow: auto;
}

.sideBar a{
    text-decoration: none;
    color: var(--white);
}

.drop-link{
    text-decoration: none;
    padding: 0.3rem;
}

.drop-link:hover{
    background: var(--white);
    color: var(--lightPurple);
}

.drop-item-list{
    margin-top: 0.6rem;
}
.drop-item-list a{
    margin-bottom: 0.6rem;
}

.sideBar::-webkit-scrollbar{
    width: 0;
}

.sideBarContent {
    padding-top: 6rem
}

.side-bar-item {
    font-weight: 600;
    cursor: pointer;
    padding: 0.4rem 0rem 0.4rem 1.3rem;
    position: relative;
}

.side-bar-item:hover {
    background: var(--white);
    color: var(--lightPurple);
}

.drop-item ul {
    list-style-type: none;
}

.drop-item {
    display: none;
}

.show-drop-item {
    display: block;
}

.right-icon,
.down-icon {
    position: absolute;
    right: 8%;
}

.down-icon {
    display: none;
}

.showIcon {
    display: inline-block;
}

.hideIcon {
    display: none;
}

.logOut {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid var(--white);
}


/* mainSection styles */
.main
{
    padding-top: 6rem;
    margin-left: 18rem;
    background: var(--white);
}


.registered-main-2{
    margin-left: 18rem;
}


.registered-container h1{
    font-size: 1.4rem;
}

select.form-select{
    background: var(--lighterPurple);
    color: var(--lightPurple);
    font-weight: 600;
}

select.form-select:focus{
    box-shadow: unset;
    border: none;
    outline: none;
}

input.form-control:focus{
    box-shadow: unset;
    outline: none;
    border: 1px solid #808080;
}

.registered-senderInfoIcon,
.registered-recipentInfoIcon,
.registered-packageInfoIcon,
.registered-shipmentIcon{
    color: var(--lightPurple);
}
#basic-addon1{
    background: var(--lightPurple);
    color: var(--white);
}

.registered-package-info{
    background: #F8F0FD;
}

button.addPackages{
    background:#2794be;
    border: none;
    outline:none;
    color: var(--white);
    border-radius: 5px;
}
.registered-totalContainer{
    display: flex;
    font-weight: 600;
}

.registered-total{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.registered-courierFee{
    background: var(--darkPurple);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

label{
    font-weight: 600;
}

.create-invoice-Btn{
    border: none;
    outline: none;
    background: var(--lightPurple);
    color: var(--white);
    border-radius: 5px;
}

.buttonContainer{
    display: flex;
    column-gap: 4%;
    font-weight: 600;
}

.dragBtn{
    border: 1px dashed #808080;
    color: var(--lightPurple);
    width: 9rem;
}
.uploadBtn{
    border: none;
    outline: none;
    width: 9rem;
    background: var(--lightPurple);
    color: var(--white);
}

.createInvoice{
    border: none;
    outline: none;
    background:var(--lightPurple) ;
    color: var(--white);
    border-radius: 5px;
}
